<!DOCTYPE html>
<html>
<link rel='stylesheet' href='./stylesheets/style.css' />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="icon" href="./favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon"/>
  <h1>Moodle Workshop Data EXtractor (MWDEX)</h1>
  <header>
  <% include ./partials/header %>
</header>
  <head>
    <title>MWDEX</title>
  </head>
  <body>
    <h2>Welcome to Moodle Workshop Data EXtractor</h2>
    Please complete the following fields with your Moodle login information to access MWDEX:
<br/><br/>
<form method='post' action='./connect' id="course" enctype="application/x-www-form-urlencoded">
<div class="row">
<div class="col-md-3">
	Moodle URL:
</div> 
<div class="col-md-3"> <input type='text' size=50 name='url' id='url'/> </div>
</div> 
<br/>
<div class="row">
<div class="col-md-3">
	Moodle username:
</div> 
<div class="col-md-3"> <input type='text' name='username' id='username'/> </div>
</div> 
<br/>
<div class="row">
<div class="col-md-3"> Moodle password: </div> 
<div class="col-md-2"> <input type='password' name='password' id='password'/> </div>
</div> 
<br/>
<div class="row">
<div class="col-md-3"> Name of the web service: </div> 
<div class="col-md-2"> <input type='text' name='service' id='service'/>  </div>
<br> <br> <br>
<div class="col-md-2"> <input type="submit" value="Continue" padding=500px> </div>
</div>

</form>

<% var msg="";
if (msgAler=!null){
	msg=msgAlert;
}
%>
<%=msg%>
</body>
<footer>
<br/><br/><br/><br/>
    <% include ./partials/footer %>
</footer>
<script type="text/javascript">
	var hashParams = window.location.hash.substr(1).split('&'); // substr(1) to remove the `#`
	for(var i = 0; i < hashParams.length; i++){
		var p = hashParams[i].split('=');
		document.getElementById(p[0]).value = decodeURIComponent(p[1]);;
	}
</script>
</html>
